<div id="start-load" class="loading">
    <img id="start-load-img" class="loading-image" src="/apps/doe/components/page/dashboard-page/clientlibs/wait_32.gif" alt="Loading..." />
</div>
<div class="container">

    <div id="dashboard">

        <div id="dash-title"class="header">
            <h1>Key Metrics Dashboard</h1>
            <h5 id="school-name"></h5>
        </div>
        <div id="dash-cal" class="row">
            <h6 id="over-date-range">From dates </h6>
            <input id="calendar" type="text" name="daterange" value="01/01/2018 - 15/01/2018" />
        </div>

        <div id="key-metric" class="metric">
            <div id="key-load" class="loading">
                <img id="key-load-img" class="loading-image" src="clientlibs/wait_32.gif" alt="Loading..." />
            </div>
            <h2>Key Metrics</h2>
            <!-- Main metric, displayed at top of dash -->
            <div class="row">
                <div id="pageviews-trend" class="metric">
                    <h3>Page Views</h3>
                    <div id="pageviews-chart" class="graph">
                        <canvas id="pageviews-canvas"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div id="data-blocks">
            <div id="over-load" class="loading">
                <img id="over-load-img" class="loading-image" src="images/wait_32.gif" alt="Loading..." />
            </div>
            <div class="left-title">
                <h3>Overview</h3>
            </div>
            <div class="row">
                <div id="referrer" class="metric-hbar">
                    <h4>Traffic</h4>
                    <div id="referrer-donut" class="graph">
                        <canvas id="referrer-canvas" class="donut"></canvas>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="visits" class="metric">
                    <h4>Visits</h4>
                    <span id="visits-current" class="number"></span>
                </div>
                <div id="visitors" class="metric">
                    <h4>Visitors</h4>
                    <span id="visitors-current" class="number"></span>
                </div>
                <div id="pageviews" class="metric">
                    <h4>Page Views</h4>
                    <span id="pageviews-current" class="number"></span>
                </div>
            </div>
            <div class="row">
                <div id="newold" class="metric-donut">
                    <h4>New v/s Repeat Visits</h4>
                    <div id="newold-perc">
                        <h4>% New Visitors</h4>
                        <span id="new-perc" class="number"></span>
                    </div>
                    <div id="newold-donut" class="graph-donut">
                        <canvas id="newold-canvas" class="donut"></canvas>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="browser" class="metric-donut">
                    <h4>Browser</h4>
                    <div id="browser-donut" class="graph-donut">
                        <canvas id="browser-canvas" class="donut"></canvas>
                    </div>
                </div>
                <div id="mobile" class="metric-donut">
                    <h4>Mobile Device</h4>
                    <div id="mobile-donut" class="graph-donut">
                        <canvas id="mobile-canvas" class="donut"></canvas>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="os" class="metric-hbar">
                    <h4>Operating Systems</h4>
                    <div id="os-hbar" class="graph">
                        <canvas id="os-canvas" class="hbar"></canvas>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="topPages" class="metric-hbar">
                    <h4>Top Pages</h4>
                    <div id="top-hbar" class="graph">
                        <canvas id="top-canvas" class="hbar"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>