
<sly data-sly-use.page="com.adobe.cq.wcm.core.components.models.Page"/>

<template data-sly-template.head="${ @ page }" data-sly-use.headlibRenderer="headlibs.html"
          data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html">

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta property="og:description" content="${pageProperties.metaDescription}" />
    <meta property="description" content="${pageProperties.metaDescription}" />
    <sly data-sly-use.schoolData="/apps/doe/components/page/page/schooldata.js"></sly>
    <meta name="doe.geo.latitude" content="${schoolData.init.location.geo.latitude}" />
    <meta name="doe.geo.longitude" content="${schoolData.init.location.geo.longitude}" />
    <meta name="doe.security.public" content="yes" />
    <meta name="doe.orgunit" content="${schoolData.init.name}" />
    <meta name="doe.audience" content="guardian, general public" />
    <base/>
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Nunito:400,500,700|Zilla+Slab:400,500,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
    <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" />
    <sly data-sly-call="${clientlib.css @ categories='mydash.components'}" />
    <sly data-sly-call="${clientlib.js @ categories='mydash.components'}" />
</template>